$player-color: rebeccapurple;
$target-color: green;
$bonus-target-color: rgb(160, 110, 30);
$borderBox-shadow-title-color: rgb(180, 85, 50);

$bgc-color: rgba(180, 245, 245, .5);
$bgc-gradient-color: linear-gradient(45deg, rgba(180, 245, 245,.5) 0%, rgba(255, 255, 255, .5) 100%);